*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    background-color: rgb(117, 255, 255);
    box-sizing: border-box;
    padding: 0;
    display: block;
    box-sizing: border-box;
    overflow-x: hidden;
}

/*---------------------------------------------------------*/
/*Principal*/
main{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------------------------*/
/*Seccion 1*/
.Banner{
    background-image: url(./../IMAGENES/imgP/fondo5.jpg);
    background-position: center;
    background-size: contain;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: white;
}

h1{
    font-size: 60px;
    padding-top: 120px;
}

.ban_titulo2{
    font-size: 30px;
}
/*---------------------------------------------------------*/
/*Seccion 2*/
.diapositiva{
    background-color: rgb(15, 15, 235);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: white;
}
.titulo_div{
    font-size: 30px;
    padding-top: 20px;
}
.pointDev{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    min-height: 400px;
    padding: 20px;
    gap: 20px;
    border: 0 30px 0 30px;
}
.bloques{
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
}

.bloque1{
    background-image: url(./../IMAGENES/imgp/fondo6.jpg);
}
.bloque2{
    background-image: url(./../IMAGENES/imgp/fondo8.jpg);
}
.bloque3{
    background-image: url(./../IMAGENES/imgp/fondo9.jpg);
}
.bloque4{
    background-image: url(./../IMAGENES/imgp/fondo7.jpg);
}
/*---------------------------------------------------------*/
/*seccion 3*/
.articulos{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.barra_articulos{
    width: 90%;
    font-size: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ban_articulo{
    color: white;
    background-position: center;
    background-size: cover;
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 50px 20px 50px;
}
h5{
    font-size: 30px;
}

.articulo_pricipal{
    background-image: url(./../IMAGENES/Celeste/fondo2.webp);
}

.article_segundario{
    background-image: url(./../IMAGENES/imgP/fondo6.jpg);
}


/*---------------------Nosotros.html---------------------------*/
.Nosotros{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    padding: 60px;
}
.Nosotros p{
    font-size: 20px;
}

/*---------------------articulos.html---------------------------*/
.card_seccion{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}
.card{
    max-width: 230px;
    background-color: darkorange;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px rgb(73, 73, 73); 
    line-height: 1.7;
}
.head_card img{
    border-radius: 8px 8px 0 0;
    max-height: 100%;
    height: 100%;
    width: 100%;

}
.titulo_card{
    margin-top: 1rem;
}
.titulo_card span{
    background: cyan;
    color: white;
    padding: .2rem .5rem;
    border-radius: 4px;
}
.card .foot_card{
    padding: 0 1rem;
}
.perfil_card{
    display: flex;
    align-items: center;
}
.img_perfil{
    display: flex;
}
.img_perfil img{
    width: 50px;
    margin: 1rem 1rem 1rem 0;
    border-radius: 50%;
}
.Texto_perfil{
    display: flex;
    flex-flow: row;
}
.Texto_perfil span:nth-child(2){
    color: brown;
}
